@charset "utf-8";

body,html {
	height: 100%;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background:#fff url(../img/background-white.gif) repeat-x;
}

::selection, ::-moz-selection {
	background-color:#327eb8;
	color:#ffffff;
}

a,p,h1,h2,h3,h4,h5,h6,td,tr,img,div,ul,ol,li,pre,form,blockquote,fieldset,input {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

h1  {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
}

h1 span {
	font-weight: 900;
}

p  {
	font-size: 16px;
	font-weight: 500;
	color: white;
}

a  {
	text-decoration: none;
	color: white;
}

#logo{
	top:20px;
	left:50%;
	width:80px;
	text-align:left;
	height: 80px;
	margin-left: -40px;
	position: relative;
	background: #000 url(../img/logo-background.jpg) repeat-x 0px 0px;
	-moz-transition: background 1s ease-in-out 5s;
	-webkit-transition: background 1s ease-in-out 5s;
	-o-transition: background 1s ease-in-out 5s;
	transition: background 1s ease-in-out 5s;
}

#logo:hover{
	background: #000 url(../img/logo-background.jpg) repeat-x 0 -80px;
	-moz-transition: background 1s ease-in-out;
	-webkit-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

#content {
	position:absolute;
	height: 400px;
	width: 100%;
	margin-top: -200px;
	background-color:#000;
	bottom: 0px;
	background-image: url(../img/background-wave.png);
	background-repeat: repeat-x;
	background-position: center top;
	-moz-transition: background 1s ease-in-out;
	-webkit-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

#content:hover {
	/*
	background-color:#327eb8;
	*/
}

#boxed {
	height: 320px;
	max-width: 320px;
	width: 320px;
	margin:0 auto;
	padding: 40px;
	position: relative;
}

#contact {
	bottom: 40px;
	position: absolute;

}

@media screen and (max-height: 520px) {
	#logo {
		position: relative;
		left: 50%;
		margin-left:-40px;
		top:0;
		margin-top:20px;
		margin-bottom:20px;
		float:left;
	}
	#content {
		position:relative;
		margin:0;
		top:0;
		left:0;
		float: left;
	}
}
@media screen and (max-width: 600px) {
	body {
		background-color:#000;
		height: auto;
	}
	#logo {
		position: relative;
		left: 50%;
		margin-left:-40px;
		top:0;
		margin-top:20px;
		margin-bottom:20px;
		float:left;
	}
	#content {
		position:relative;
		margin:0;
		top:0;
		left:0;
		float: left;
	}
	#boxed {
		width:auto;
	}
}
@media screen and (max-width: 400px) {
	#contact {
		position: relative;
		top:40px;
		margin-bottom:40px;
	}

}
