@charset "utf-8";

a,p,h1,h2,h3,h4,h5,h6,td,tr,img,div,ul,ol,li,pre,form,blockquote,fieldset,input {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	font-family: calluna-sans-1, calluna-sans-2, Tahoma, Arial, Helvetica, sans-serif;
	background-color: #111;
	position: relative;

}

#middle {
	color: #FFF;
	position: absolute;
	overflow: hidden;
	left: 40px;
	top: 30px;
	right: 40px;
}
#middle h1 {
	font-size: 35px;
	line-height: 40px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -1px;
	text-shadow: #111 0px 0px 1px;
}
#middle h3 {
	font-size: 16px;
	line-height: 50px;
	font-style: italic;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 200px;
	font-weight: normal;
}


#middle p {
	font-size: 16px;
	margin-left: 40px;
	text-shadow: #111 0px 0px 1px;
}
#middle a {
	text-decoration: none;
	color: white;

}

.name {
	color: #bd2e00;

}
::selection {
	background-color:#ff5400;
	color:#ffffff;
}

::-moz-selection {
	background-color:#ff5400;
	color:#ffffff;
}
#top-margin {
	height: 20px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1000;
	background-color: #ffffff;
}
#bottom-margin {
	background-color: #FFF;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	z-index: 1000;
}
#left-margin {
	background-color: #FFF;
	width: 20px;
	position: absolute;
	height: 100%;
	left: 0px;
	z-index: 1000;
}
#right-margin {
	background-color: #FFF;
	height: 100%;
	width: 20px;
	position: absolute;
	right: 0px;
	z-index: 1000;
}
#contents{
	position:absolute;
	top:30px;
	left:30px;
	background:#111;
	background:rgba(0,0,0,0.65);
	width:360px;
	text-align:left;
	height: 200px;
}
#logo {
	position: absolute;
	width: 100px;
	height: 100px;
	right: 40px;
	bottom: 40px;
}
#contact {
	position: absolute;
	width: 300px;
	height: 60px;
	bottom: 40px;
	left: 40px;
}
#contact p {
	font-size: 16px;
	text-shadow: #111 0px 0px 1px;
	color: white;
}
