@charset "utf-8";

body,html {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background:#fff url(../img/background-white.gif) repeat-x;
}

::selection, ::-moz-selection {
	background-color:#327eb8;
	color:#ffffff;
}

a,p,h1,h2,h3,h4,h5,h6,td,tr,img,div,ul,ol,li,pre,form,blockquote,fieldset,input {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

h1  {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	line-height: 16px;
}
h1.padd {
	margin-bottom:16px;
}

h2  {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	line-height: 12px;
	min-height: 14px;
}
h2.padd {
	margin-top:16px;
}


p  {
	font-size: 12px;
	font-weight: 500;
	color: white;
}

a  {
	text-decoration: none;
	color: #f1f1f1;
}
.dashboard a {
	color: black;
	text-align:center;
	font-size: 12px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}
#logo {
	top:10px;
	left:50%;
	width:80px;
	text-align:left;
	height: 80px;
	margin-left: -40px;
	margin-top: -50px;
	position: relative;
	float:left;
	background: #000 url(../img/logo-background.jpg) repeat-x 0px 0px;
	-moz-transition: background 1s ease-in-out 5s;
	-webkit-transition: background 1s ease-in-out 5s;
	-o-transition: background 1s ease-in-out 5s;
	transition: background 1s ease-in-out 5s;
	z-index: 99999;
}

#logo:hover{
	background: #000 url(../img/logo-background.jpg) repeat-x 0 -80px;
	-moz-transition: background 1s ease-in-out;
	-webkit-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}
#logo a {
	display: block;
}

#content {
	background-color: white;
	width:100%;
	padding: 50px 0;
	margin-top:50px;
	position: relative;
}
#content #slideshow {
}
#content #slideshow #dummy {
	display: none;
    padding-top: 75%;
}
#content #slideshow #images {
	min-width: 750px;
	width: 750px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
#content #slideshow #images img {
	display: none;
	height: auto !important;
	width: 750px !important;
}
#content #slideshow #images img.first {
	display: block;
}
#content #nav a#nav-prev {
	position:absolute;
	text-indent:-9999px;
	display: block;
	background-image:url(../img/arrow-left.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
	width: 50px;
	height:50px;	
	top: 40%;
	left: 10px;
	/*margin-top:-50px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
	-moz-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	z-index: 99999;
}
#content #nav a#nav-next {
	position:absolute;
	text-indent:-9999px;
	display: block;
	background-image:url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 25px;
	width: 50px;
	height:50px;	
	top: 40%;
	right: 10px;
	/*margin-top:-50px;*/
	-moz-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	z-index: 99999;
}
#content #nav a#nav-prev:hover, #content #nav a#nav-next:hover {
	background-size: 50px;
}

#footer {
	bottom: 0px;
	width: 100%;
	background-color:#000;
	background-image: url(../img/background-wave.png);
	background-repeat: repeat-x;
	background-position: center top;
	-moz-transition: background 1s ease-in-out;
	-webkit-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

#footer:hover {
	/*
	background-color:#327eb8;
	*/
}

.footer-wide {
	width: 25%;
	float: left;
	position: relative;
	height: 400px;
/*	min-width: 320px;*/
}
.footer-normal {
	width: 25%;
	float: left;
	position: relative;
	height: 400px;
/*	min-width: 320px;*/
}
.footer-narrow {
	width: 25%;
	float: left;
	position: relative;
	height: 400px;
/*	min-width: 320px;*/
}
.boxed {
	padding: 40px 0 40px 40px;
}
.boxed .col {
	float: left;
	width: 100%;
}	

.boxed .col2 {
	float: left;
	width: 100%;
}	

#contact {
	bottom: 40px;
	position: absolute;

}

.clear {
	clear: both;
}

@media screen and (max-width: 1280px) {
	body {
		height: auto;
	}
	#footer {
		position:relative;
		margin:0;
		top:0;
		left:0;
		float: left;
	}
	.footer-wide {
		width: 50%;
		height: 150px;
	}
	.footer-normal {
		width: 50%;
		height: 150px;
	}
	.footer-narrow {
		width: 50%;
		height: auto;
	}
	.footer-narrow .boxed {
		padding-right: 0px;		
	}
	.footer-narrow .boxed .col {
		padding-bottom: 40px;		
	}
	.footer-narrow .boxed .col2 {
		padding-bottom: 40px;		
	}
	.boxed {
		padding: 40px 40px 0 40px;
	}	
	.boxed .col {
		width: 38%;
	}	
	.boxed .col2 {
		width: 24%;
	}	
	h2.padd {
		margin-top:0px;
	}
	#contact {
		display: none;
		margin-top: 20px;
		bottom: 0px;
		position: relative;
	}
	
}
@media screen and (max-width: 1080px) {
/*	.boxed .col {
		width: 100%;
	}	
*/
}
@media screen and (max-width: 960px) {
	body {
		height: auto;
	}
	#content {
		height: auto;
	}
	
	#content #slideshow {
		display: inline-block;
		position: relative;
		width: 100%;
	}
	#content #slideshow #dummy {
		padding-top: 41.3%;
		display: inline-block;
	}
	#content #slideshow #images {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 80%;
		height: auto;
		min-width:0px;
		margin: 0 10%;
	}
	#content #slideshow #images img {
		width: 100% !important;
		height: auto !important;
		min-width:0px;
		max-width: 750px !important;
	}
	#footer {
		position:relative;
		margin:0;
		top:0;
		left:0;
		float: left;
	}
	.footer-wide {
		width: 100%;
		height: auto;
	}
	.footer-normal {
		width: 100%;
		height: auto;
	}
	.footer-narrow {
		width: 100%;
		float: left;
		height: auto;
		min-width: 100px;
	}
	.footer-narrow .boxed .col {
		padding: 0px;
	}	
	.footer-narrow .boxed .col2 {
		padding: 0px;
	}	
	.footer-narrow .boxed {
		padding: 40px 40px 40px 40px;
	}	
	.boxed {
		padding: 40px 40px 0 40px;
	}
	.boxed .col {
		width: 38%;
	}	
	.boxed .col2 {
		width: 24%;
	}	
	h2.padd {
		margin-top:0px;
	}

	#contact {
		margin-top: 20px;
		bottom: 0px;
		position: relative;
	}
	
}
@media screen and (max-width: 600px) {
	.boxed .col {
		width: 100%;
	}	
	.boxed .col2 {
		width: 100%;
	}	
	h2.padd {
		margin-top:16px;
	}
}
@media screen and (max-width: 400px) {
	#contact {
		position: relative;
		top:40px;
		margin-bottom:40px;
	}

}
