# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php


# Activate the rewrite engine  
RewriteEngine on  

RewriteCond %{HTTP_HOST} !^www\.designrefinery\.co.uk$  
RewriteRule ^(.*)$ http://www.designrefinery.co.uk/$1 [L,R=301]  
  
# Replace yourdomain.com with your domain name.  
RewriteCond %{HTTP_HOST} ^(www.)?designrefinery.co.uk$  
  
# Replace 'subfolder' with your subfolder name.  
RewriteCond %{REQUEST_URI} !^/designrefinery/  
  
# Don't touch this line.  
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
  
# Replace 'subfolder' with your subfolder name.  
RewriteRule ^(.*)$ /designrefinery/$1  
  
# Replace yourdomain.com with your domain name.  
# Replace 'subfolder' with your subfolder name.  
# set index.php to whatever necessary for your CMS, for Joomla you don't need to change it  
RewriteCond %{HTTP_HOST} ^(www.)?designrefinery.co.uk$  
RewriteRule ^(/)?$ designrefinery/index.html [L]  