@charset "utf-8";

body,html {
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
body {
	background:#fff url(../img/background-white.gif) repeat-x;
}

::selection, ::-moz-selection {
	background-color:#327eb8;
	color:#ffffff;
}

a,p,h1,h2,h3,h4,h5,h6,td,tr,img,div,ul,ol,li,pre,form,blockquote,fieldset,input {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

h1  {
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	line-height: 16px;
}
h1.padd {
	margin-bottom:16px;
}

h2  {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
/*	text-transform: uppercase;*/
	color: #0f5f8d;
/*	line-height: 12px;*/
	min-height: 14px;
}
h2.padd {
	margin-top:16px;
}

p  {
	font-size: 12px;
	font-weight: 500;
	color: #FFF;
}
a  {
	text-decoration: none;
	color: #f1f1f1;
	cursor: pointer;
}
.about  {
	position:absolute;
	right: 25px;
	top: 34px;
	width: auto;
	z-index: 777;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.about a {
	color: black;
	text-align:right;
	font-size: 12px;
	margin: 0 auto;
	display: block;
	padding:10px 15px 10px 30px;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.about a.plus {
	background: url(../img/button-plus-small.png) no-repeat 0px 6px;
}
.about a.minus {
	background: url(../img/button-minus-small.png) no-repeat 0px 6px;
}
.dashboard  {
	background-color: white;
	height: 30px;
	padding-bottom: 40px;
}
.dashboard a {
	color: black;
	text-align:center;
	font-size: 12px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}
#logo {
	top:10px;
	left:50%;
	width:80px;
	text-align:left;
	height: 80px;
	margin-left: -40px;
	margin-top: -50px;
	position: relative;
	float:left;
	background: #000 url(../img/logo-background.jpg) no-repeat 0px 0px;
	-moz-transition: background 1s ease-in-out 5s;
	-webkit-transition: background 1s ease-in-out 5s;
	-o-transition: background 1s ease-in-out 5s;
	transition: background 1s ease-in-out 5s;
	z-index: 1;
}
#logotype {
	top:10px;
	left:10px;
	width:160px;
	text-align:left;
	height: 80px;
	position: absolute;
	background: url(../img/logotype.gif) no-repeat 0px 0px;
	z-index: 1;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

#logo:hover{
	background: #000 url(../img/logo-background.jpg) repeat-x 0 -80px;
	-moz-transition: background 1s ease-in-out;
	-webkit-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}
#logo a {
	display: block;
}

#content {
	background-color: white;
	width:100%;
	padding: 50px 0;
	margin-top:50px;
	position: relative;
	margin-bottom: 40px;
}
#content #slideshow {
}
#content #slideshow #dummy {
	display: none;
    padding-top: 75%;
}
#content #slideshow #images {
	min-width: 750px;
	width: 750px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
#content #slideshow #images a.slide {
	height: auto !important;
	width: 750px !important;
}
#content #slideshow #images img {
	height: auto !important;
	width: 750px !important;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index:4;
}
#content #slideshow #images img:hover {
	opacity: 0.1;
}
#content #slideshow #images div.slides {
	height: auto !important;
	width: 750px !important;
	display:none;
}
#content #slideshow #images div.slides.first {
	display:block;
}
#content #slideshow #images div.slides .more {
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: -10;
}
#content #slideshow #images div.slides .more p {
	position:absolute;
	background: url(../img/button-plus.png) no-repeat top center;
	width: 50%;
	padding: 54px 0 0 0;
	margin: -54px 0 0 -25%;
	top: 50%;
	left: 50%;
	text-align: center;	
	color: #000;
}

#content #nav a#nav-prev {
	position:absolute;
	text-indent:-9999px;
	display: block;
	background-image:url(../img/arrow-left.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
	width: 50px;
	height:50px;	
	top: 40%;
	left: 10px;
	/*margin-top:-50px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
	-moz-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	z-index: 99999;
}
#content #nav a#nav-next {
	position:absolute;
	text-indent:-9999px;
	display: block;
	background-image:url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 25px;
	width: 50px;
	height:50px;	
	top: 40%;
	right: 10px;
	/*margin-top:-50px;*/
	-moz-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	z-index: 99999;
}
#content #nav a#nav-prev:hover, #content #nav a#nav-next:hover {
	background-size: 50px;
}



#content #navi {
	text-align:center;
	position:absolute;
	margin: 0 auto;
	bottom: 10px;
	width: 100%;
}
#content #navi a {
	background:url(../img/button-circle.png) no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0px 5px;
	text-indent: -99999px;
}
#content #navi a:hover {
	background:url(../img/button-circle-hover.png) no-repeat;
}
#content #navi a.activeSlide {
	background:url(../img/button-circle-full.png) no-repeat;
}
#content #gallery {
	width: 100%;
	margin: 0 auto;
	text-align:center;
}
#content #gallery #project {
	background:  #f4f4f4;
	display: inline-block;
	margin: 0 10% 0 10%;
	padding: 15px 0;
	width: 80%;
	max-width: 750px;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#content #gallery p {
	color: black;
	text-align: left;
	max-width: 750px;
	margin: 0 auto;
}
#content #gallery #project p {
	text-align: center;
	color: black;
}
#content #gallery #project h1 {
	color: black;
}
#content #gallery #project a {
	color: black;
}
#content #gallery img {
	display: inline-block;
	margin: 40px 10% 0px 10%;
	padding: 0;
	max-width: 750px;
	width: 80%;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#content #gallery img.right {
}
#footer {
	display: none;
	bottom: 0;
	width: 100%;
	background-color:#000;
	background-image: url(../img/background-wave.png);
	background-repeat: repeat-x;
	background-position: center top;
	-moz-transition: background 1s ease-in-out;
	-webkit-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

#footer:hover {
	/*
	background-color:#327eb8;
	*/
}
#footer h2  {
	text-transform: lowercase;
}

#footer p  {
	text-transform: lowercase;
}


#bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-image: url(../img/background-wave-black.png);
	background-repeat: repeat-x;
	background-position: center top;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display: block;
	z-index:9999999;
}
#bottom.hidden {
	bottom: -80px;
}
#bottom p  {
	padding: 13px 20px 0px 20px;
	text-align: center;
	text-transform: lowercase;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#bottom p span {
	margin: 0px 10px;
}

.footer-wide {
	width: 25%;
	float: left;
	position: relative;
	height: 440px;
/*	min-width: 320px;*/
}
.footer-normal {
	width: 25%;
	float: left;
	position: relative;
	height: 440px;
/*	min-width: 320px;*/
}
.footer-narrow {
	width: 25%;
	float: left;
	position: relative;
	height: 440px;
/*	min-width: 320px;*/
}
.boxed {
	padding: 40px 0 40px 40px;
}
.boxed .col {
	float: left;
	width: 100%;
}	

.boxed .col2 {
	float: left;
	width: 100%;
}	

#contact {
	bottom: 40px;
	position: absolute;

}

#author {
	position: absolute;
	bottom:0;
	right:0;
	height: 60px;
	width: 200px;
	background-image:url(../img/author-white.png);
	opacity: 1;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index:6;
}
#author:hover, #author:focus {
	cursor: pointer;
	opacity: 0;
}
#author2 {
	position: absolute;
	bottom:0;
	right:0;
	height: 60px;
	width: 200px;
	background-image:url(../img/author-colour.png);
	z-index:5;
}
#author2:hover {
	cursor: pointer;
}

#overlay {
	display: none;
	top: 0;
	left: 0;
	position:fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.85);
	background-color: rgba(0,0,0,0.5);
	z-index: 9999999;
}
#overlay #paper {
	position:absolute;
	left: 50%;
	width: 600px;
	height: 80%;
	margin: 10% 0 10% -300px;
	background: white;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 40px black;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#overlay-portfolio {
	display: none;
	top: 0;
	left: 0;
	position:fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.85);
	background-color: rgba(0,0,0,0.5);
	z-index: 9999999;
}
#overlay-portfolio #overlay-portfolio-slides {
	position:absolute;
	left: 50%;
	top: 50%;
	width: 750px;
	height: 400px;
	margin: -200px 0 0 -375px;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#overlay-portfolio #overlay-portfolio-slides img {
	box-shadow: 0px 0px 40px black;
	display: none;
	width: 750px !important;
	height: auto !important;
}
#overlay-portfolio #overlay-portfolio-slides img.first {
	display: block;
}
#overlay-portfolio #overlay-portfolio-slides div#caption {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption1 {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption2 {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption3 {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption4 {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption5 {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption6 {
	display: none
}
#overlay-portfolio #overlay-portfolio-slides #caption7 {
	display: none
}

#overlay-portfolio #overlay-portfolio-slides p {
	position: absolute;
	color: black;
	z-index: 9999;
	text-align: left;
	bottom: 0%;
	left: 0;
	font-size: 14px;
	width: 96%;
	background-color: rgba(230, 230, 230, 0.75);
	padding: 10px 2% 10px 2%;
}
#overlay #cv {
	position: absolute;
	top: 40px;
	left: 40px;
	bottom: 40px;
	right: 0px;
	margin: 20px 0 20px 20px;
	overflow-x: hidden;
	overflow-y: auto;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#overlay .close, #overlay-portfolio .close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../img/button-cancel.png) no-repeat center center;
	background-size: 25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 1;
/*	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;*/
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	z-index: 30;
}
#overlay .close:hover, #overlay-portfolio .close:hover {
	opacity: 1;
	background-size: 50px;
}

#overlay-portfolio #nav-overlay a.nav-overlay-prev {
	position:absolute;
	text-indent:-9999px;
	display: block;
	background-image:url(../img/arrow-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px;
	width: 50px;
	height:50px;	
	top: 10px;
	left: 10px;
	/*margin-top:-50px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
	-moz-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	z-index: 99999;
}
#overlay-portfolio #nav-overlay a.nav-overlay-next {
	position:absolute;
	text-indent:-9999px;
	display: block;
	background-image:url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px;
	width: 50px;
	height:50px;	
	top: 10px;
	left: 60px;
	/*margin-top:-50px;*/
	-moz-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	z-index: 99999;
}
#overlay-portfolio #nav-overlay a.nav-overlay-prev:hover, #overlay-portfolio #nav-overlay a.nav-overlay-next:hover {
	background-size: 50px;
}
#overlay-portfolio #nav-overlay a.nav-overlay-prev,
#overlay-portfolio #nav-overlay a.nav-overlay-next {
	display: none;
}

#overlay-portfolio-londoninsulation,
#overlay-portfolio-test,
#overlay-portfolio-marlena,
#overlay-portfolio-swissphysio,
#overlay-portfolio-madeinpoland,
#overlay-portfolio-orange,
#overlay-portfolio-logos {
	background: white;
	height: 400px;
	display: none;
}

#overlay #cv h1 {
	color: #333;
	font-size: 20px;
	text-transform: lowercase;
	margin: 20px 0;
}
#overlay #cv h3 {
	color: #333;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}
#overlay #cv p {
	color: #333;
	font-size: 12px;
	line-height: 16px;
	clear:both;
}
#overlay #cv .column {
	float: left;
	width: 130px;
	height: 130px;
	margin-bottom: 20px;
}
#overlay #cv .column h3 {
	margin-bottom: 0px;
}


.clear {
	clear: both;
}

#content #slideshow #images div.tooltip {
	display: none;
	width: 100% !important;
	height: 100% !important;
	z-index: 9999999;
/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
}
#content #slideshow #images div.tooltip .box {
	background-color: rgba(0,0,0,1);
	width: 70% !important;
	height: 60% !important;
	box-shadow: 0px 0px 30px #111;
	margin: 10% auto;
	position: relative;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#content #slideshow #images div.tooltip h1 {
	padding: 5% 10% 4% 10%;
	font-size: 25px;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
}
#content #slideshow #images div.tooltip p {
	padding: 2px 10% 0 10%;
	color: #fafafa;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
}
#content #slideshow #images div.tooltip strong {
	padding: 1px 6px 2px 6px;
	background-color:#0f5f8d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:12px;
	font-weight: normal;
	margin-right: 4px;
	line-height: 24px;
}
#content #slideshow #images div.tooltip a {
	background:url(../img/arrow-next-blue.png) no-repeat right;
	display: block;
	text-decoration: none;
	color: #0f5f8d;
/*	font-size: 20px;
	font-weight:500;*/
	text-transform: lowercase;
	font-weight: 100;
	bottom: 22px;
	position: absolute;
	right: 22px;
	font-size: 35px;
	padding: 0 45px 0 0;
	min-height: 25px;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#content #slideshow #images div.tooltip a:hover {
	color: #a82800;
	background:url(../img/arrow-next-red.png) no-repeat right;
}
#content #slideshow #images div.tooltip .close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../img/button-cancel.png) no-repeat center center;
	background-size: 25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 0.5;
/*	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;*/
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#content #slideshow #images div.tooltip .close:hover {
	opacity: 1;
	background-size: 50px;
}

@media screen and (max-height: 615px) {
}
@media screen and (max-height: 615px) and (max-width: 960px) {
}

@media screen and (max-width: 1280px) {
	body {
		height: auto;
	}
	#footer {
		position:relative;
		margin:0;
		top:0;
		left:0;
		float: left;
	}
	.footer-wide {
		width: 50%;
		height: 200px;
	}
	.footer-normal {
		width: 50%;
		height: 200px;
	}
	.footer-narrow {
		width: 50%;
		height: 300px;
	}
	.footer-narrow .boxed {
		padding-right: 0px;		
	}
	.footer-narrow .boxed .col {
		padding-bottom: 40px;		
	}
	.footer-narrow .boxed .col2 {
		padding-bottom: 40px;		
	}
	.boxed {
		padding: 40px 40px 40px 40px;
	}	
	.boxed .col {
		width: 38%;
	}	
	.boxed .col2 {
		width: 24%;
	}	
	h2.padd {
		margin-top:0px;
	}
	#contact {
		display: none;
		margin-top: 20px;
		bottom: 0px;
		position: relative;
	}
	
}
@media screen and (max-width: 1080px) {
/*	.boxed .col {
		width: 100%;
	}	
*/
}
@media screen and (max-width: 960px) {
	body {
		height: auto;
	}
	#content {
		height: auto;
	}
	
	#content #slideshow {
		display: inline-block;
		position: relative;
		width: 100%;
	}
	#content #slideshow #dummy {
		padding-top: 41.3%;
		display: inline-block;
	}
	#content #slideshow #images {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 80%;
		height: auto;
		min-width:0px;
		margin: 0 10%;
	}
	#content #slideshow #images div.slides {
		width: 100% !important;
		height: auto !important;
		min-width:0px;
		max-width: 750px !important;
	}
	#content #slideshow #images a.slide {
		width: 100% !important;
		height: auto !important;
		min-width:0px;
		max-width: 750px !important;
	}
	#content #slideshow #images img {
		width: 100% !important;
		height: auto !important;
		min-width:0px;
		max-width: 750px !important;
	}
	
	
	
	#content #slideshow #images div.tooltip {
		width: 100% !important;
		height: 100% !important;
		z-index: 9999999;
	}
	#content #slideshow #images div.tooltip .box {
		background-color: rgba(255,255,255,0.9);
		background-color: rgba(0,0,0,1);
	/*	background-color: rgba(15,95,141,0.9);*/
		width: 70% !important;
		height: 60% !important;
	/*	-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;*/
		box-shadow: 0px 0px 30px #111;
		overflow: hidden;
	}

	
	#content #slideshow #images div.tooltip h1 {
		font-size: 18px;
		line-height: 18px;
		font-weight: 500;
	}
	#content #slideshow #images div.tooltip p {
		font-size: 12px;
		line-height: 14px;
	}
	#content #slideshow #images div.tooltip strong {
	}
	#content #slideshow #images div.tooltip a {
		font-weight: 500;
		font-size: 22px;
		bottom: 22px;
		padding: 0 40px 0 0;
	}
	#content #slideshow #images div.tooltip a:hover {
	}

	#content #gallery #project {
		margin: 5% 10% 0 10%;
		width: 75%;
	}
	#content #gallery p {
		margin: 0 10% 0 10%;
		width: 75%;
		display: inline-block;
	}
	#content #gallery img {
		margin: 5% 10% 0 10%;
		width: 75%;
	}
	#content #gallery img.right {
	}

	#footer {
		position:relative;
		margin:0;
		top:0;
		left:0;
		float: left;
	}
	.footer-wide {
		width: 100%;
		height: auto;
	}
	.footer-normal {
		width: 100%;
		height: auto;
	}
	.footer-narrow {
		width: 100%;
		float: left;
		height: auto;
		min-width: 100px;
		padding-bottom: 40px;
	}
	.footer-narrow .boxed .col {
		padding: 0px;
	}	
	.footer-narrow .boxed .col2 {
		padding: 0px;
	}	
	.footer-narrow .boxed {
		padding: 40px 40px 40px 40px;
	}	
	.boxed {
		padding: 40px 40px 40px 40px;
	}
	.boxed .col {
		width: 38%;
	}	
	.boxed .col2 {
		width: 24%;
	}	
	h2.padd {
		margin-top:0px;
	}

	#contact {
		margin-top: 20px;
		bottom: 0px;
		position: relative;
	}
}
@media screen and (max-width: 750px) {
	
	#overlay #paper {
		position:absolute;
		width: 80%;
		height: 80%;
		margin: 10%;
		left:0;
	}
	#overlay #cv {
		top: 20px;
		left: 20px;
		bottom: 20px;
		right: 0px;
		margin-right: 0;
	}
	#overlay-portfolio #overlay-portfolio-slides {
		position:relative;
		left: auto;
		top: 0;
		width: 100%;
		height:100%;
		background: none;
		margin: 0;
	}
	#overlay-portfolio #overlay-portfolio-slides img {
		width: 100% !important;
		box-shadow: 0px 0px 40px black;
	}
	#overlay-portfolio #overlay-portfolio-slides p {
		box-shadow: 0px 0px 40px black;
		background-color: rgba(255, 255, 255, 1);
		padding: 12px 2% 12px 2%;
	}
	#overlay-portfolio-londoninsulation,
	#overlay-portfolio-test,
	#overlay-portfolio-marlena,
	#overlay-portfolio-swissphysio,
	#overlay-portfolio-madeinpoland,
	#overlay-portfolio-orange,
	#overlay-portfolio-logos {
		height: auto;
	}
}
@media screen and (max-width: 600px) {
	
	#logotype {
		top:10px;
		left:50%;
		width:160px;
		margin-left: -80px;
		height: 80px;
		position: absolute;
		background: #000 url(../img/logotype.gif) no-repeat 0px 0px;
		z-index: 1;
	}
	.about  {
		position:absolute;
		right: 0px;
		top: 5px;
	}
	#content #slideshow #images div.tooltip {
		width: 100% !important;
		height: 100% !important;
		z-index: 9999999;
	}
	#content #slideshow #images div.tooltip .box {
		background-color: rgba(0,0,0,1);
		width: 100% !important;
		height: 100% !important;
		z-index: 9999999;
		box-shadow: 0px 0px 30px #111;
		overflow: hidden;
		margin: 0 auto;
	}


	#content #slideshow #images div.tooltip strong {
		font-size: 12px;
	}
	
	#content #slideshow #images div.tooltip h1 {
	}
	#content #slideshow #images div.tooltip p {
	}
	#content #slideshow #images div.tooltip p strong {
	}
	#content #slideshow #images div.tooltip a {
		font-weight: 500;
		font-size: 16px;
		bottom: 10px;
		right: 12px;
		padding: 5px 40px 0 0;
	}
	#content #slideshow #images div.tooltip a:hover {
	}
	#content #slideshow #images div.tooltip .close {
		top: 0px;
		right: 0px;
	}

	.boxed .col {
		width: 100%;
	}	
	.boxed .col2 {
		width: 100%;
	}	
	h2.padd {
		margin-top:16px;
	}
}
@media screen and (max-width: 400px) {
	
	#bottom p  {
		padding: 8px 30px 0px 30px;
		text-align: center;
		text-transform: lowercase;
		line-height:12px;
	}
	#overlay #cv {
		top: 10px;
		left: 10px;
		bottom: 10px;
	}
	#content #slideshow #images div.tooltip h1 {
		font-size: 14px;
		padding: 5% 10% 2% 10%;
	}
	#content #slideshow #images div.tooltip p {
		font-size: 11px;
		line-height: 12px;
		padding: 2px 10% 0 10%;
	}
	#content #slideshow #images div.tooltip p strong {
		padding: 0px 5px 1px 5px;
		font-size: 11px;
		line-height: 20px;
	}
	#content #slideshow #images div.tooltip a {
		font-weight: 500;
		font-size: 16px;
		bottom: 10px;
		right: 12px;
		padding: 5px 40px 0 0;
	}
	#content #slideshow #images div.tooltip a:hover {
	}

}
