/* COMMON CLASSES */
.break { clear:both; }
.headerimg {
	background-position: center center;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	position: absolute;
}
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

/* HEADER TEXT */
#headertxt {
	position:absolute;
	top:0px;
	left: 0px;
}
#firstline {
	padding:0;
	float:left;
	display:block;
}
#secondline {
	text-decoration:none;
	float:left;
	display:block;
	clear: both;
}

.pictured {
	background-color:#CC3333;
	color:#FFF;
	font-size:12px;
	padding:9px 16px;
	float:left;
	display:block;
	clear:both;
	margin-top:10px;
}
.pictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF; text-decoration:none; }
.pictured a:hover {
}

/* CONTROLS */
.btn {
	height:100%;
	width:50px;
	cursor:pointer;
	position: absolute;
	left: 0px;
}
.btn:hover {
	background-color: #FFF;
	opacity: 0.2;
}
.btn2 {
	height:100%;
	width:50px;
	cursor:pointer;
	position: absolute;
	right: 0px;
}

.btn2:hover {
	background-color: #FFF;
	opacity: 0.2;
}



#back {
	background-image:url(../images/btn_back.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#next {
	background-image:url(../images/btn_next.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#control { background-image:url("../images/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer {

}
#headernav {
	height: 100%;
}

/* CONTENT */
#content {
	color:#575757;
	background-color:#eee;
	display: none;
}
#content p {
	padding:10px 20px;
	font-size:16px;
	margin:0 auto;
}
#content p a { text-decoration:none; color:#CD2B3A; }
#content p a:hover { text-decoration:underline; color:#7F000C; }
#top-left-corner {
	background-image: url(../images/top-left-corner.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	height: 15px;
	width: 15px;
	top: 0px;
	left: 0px;
}
#top-right-corner {
	background-image: url(../images/top-right-corner.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	height: 15px;
	width: 15px;
	right: 0px;
	top: 0px;
}
#bottom-left-corner {
	background-image: url(../images/bottom-left-corner.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	height: 15px;
	width: 15px;
	left: 0px;
	bottom: 0px;
}
#bottom-right-corner {
	background-image: url(../images/bottom-right-corner.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	height: 15px;
	width: 15px;
	right: 0px;
	bottom: 0px;
}
