@charset "utf-8";

a,p,h1,h2,h3,h4,h5,h6,td,tr,img,div,ul,ol,li,pre,form,blockquote,fieldset,input {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, serif;
}

#middle {
	width: 100%;
	color: #FFF;
	overflow: hidden;
	height: 100%;
	opacity: 1;
	vertical-align: middle;
	position: relative;
}
#middle h1 {
	font-size: 35px;
	line-height: 35px;
	font-style: normal;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 200px;
	font-weight: normal;
	padding-bottom: 50px;
	letter-spacing: -1px;
	text-shadow: 0px 0px 1px;
}
#middle h3 {
	font-size: 16px;
	line-height: 50px;
	font-style: italic;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 200px;
	font-weight: normal;
}


#middle p {
	font-size: 16px;
	font-style: italic;
	margin-left: 20px;
}
#middle a {
	text-decoration: none;
	color: white;

}

.name {
	color: #6CC;

}
::selection {
	background-color:#ff5400;
	color:#ffffff;
}
